<!DOCTYPE html>
<html>
  <head>
    <title>Demonstration Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= devise_controller? ? 'auth-body' : 'app-body' %>">
    <%= render "shared/navbar" if user_signed_in? %>

    <main class="<%= devise_controller? ? 'auth-wrapper' : 'app-container' %>">
      <%= yield %>
    </main>
  </body>
</html>
